@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


button {
  border: 2px solid black;
  padding: 5px 5px;
  border-radius: 10px;
  cursor: pointer;
  color: black;
  background-color: grey;
}

.errors {
  color: red;
}


/*! HOME PAGE */

.hompage-slider {
  max-width: 1680px;
  /* min-height: 800px; */
}

.homepage-slider-images {
  height: 16000px;
}

.catagory-image {
  height: 35rem;
}





/*! PRODUCTS LIST PAGE */
.products-desc-holder {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.products-desc {
  width: 50%;

}
